/* Content container */
.login-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
}

/* Heading/logo */
.logo {
    font-size: 48px;
    color: #0077ff;
    margin-bottom: 10px;

    transition: all;
}
.logo:hover {
    transform: scale(1.3);
}

/* Description */
.description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
.login-form{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(47, 0, 255, 0.1);
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 100px;
}
.login-form button {
    width: 30%;
    padding: 10px;
    background-color: #08458a;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.title2{
   font-size: 48px;
    color: #0077ff;
    margin-bottom: 10px;

    transition: all;
}

.titl:hover {
    transform: scale(1.3);
}

.acc{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(47, 0, 255, 0.1);
}

.acc input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 100px;
}

.subtitle2{
    text-align: center;
    color: #141313;
}

.NewAcc-container{
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
}

.acc button{
    width: 50%;
    padding: 10px;
    background-color: #295c96;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.Dashboard{
    text-align: center;
    color: #010407;
    font-size: 48px;
}


/* style.css */

/* Sidebar styling */
.sidebar {
  height: 100vh; /* full screen height */
  width: 200px;  /* sidebar width */
  position: fixed; /* stays in place when scrolling */
  top: 0;
  left: 0;
  background-color: #2a5178; /* dark blue/gray */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

/* Sidebar title */
.sidebar h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

/* Sidebar links */
.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
}

.sidebar a:hover {
  background-color: #305e8d; /* darker on hover */
}

/* Main content styling */
.main-content {
  margin-left: 220px; /* space for sidebar */
  padding: 20px;
}


